Repository libranet/libranet-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

.pre-commit-config.yaml:

# Configuration-file for pre-commit
# References:
#   - Official docs: https://pre-commit.com
#   - for more hooks: https://pre-commit.com/hooks.html
#
# To avoid duplication, we try to configure the tools in pyproject.toml as much as possible.
#
# We prepend "poetry run" to every command to make it work without activatig the python-virtualenv
#
# Usage:
#   > bin/pre-commit install
#   > bin/pre-commit install hooks  -f
#   > bin/pre-commit autoupdate
#   > bin/pre-commit run --all-files

repos:
  # docs: https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        args: [
            "--config=pyproject.toml", # not needed, is default?
          ]
        # "--check",  # don't write the files back, just return the status.
        language: system # use executable found on path
        types: [python] # check only specific filetypes

  # docs: https://flake8.pycqa.org/en/latest/user/using-hooks.html
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]

  # docs: https://pycqa.github.io/isort/docs/configuration/pre-commit.html
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--settings-path=pyproject.toml"]
        language: system

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]

  # - repo: local
  #   hooks:
  #       - id: bandit
  #         name: bandit
  #         entry: bandit
  #         language: system
  #         types: [python]
  #         # see https://github.com/PyCQA/bandit/issues/318
  #         args: [
  #           "--configfile pyproject.toml",
  #           "--baseline etc/bandit-baseline.json",
  #           ]

  # The following are all pre-commit-hooks
  # docs: https://github.com/pre-commit/pre-commit-hooks

  - repo: local
    hooks:
      - id: debug-statements
        name: check-debug-statements
        entry: poetry run debug-statement-hook
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: check-toml
        name: check-toml
        entry: poetry run check-toml
        language: system
        types: [toml]

  - repo: local
    hooks:
      - id: end-of-file-fixer
        name: fix-end-of-filer
        entry: poetry run end-of-file-fixer
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: fix-encoding-pragma
        name: fix-encoding-pragma
        entry: poetry run fix-encoding-pragma --remove
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: mixed-line-ending
        name: fix-mixed-line-ending
        entry: poetry run mixed-line-ending
        language: system
        types: [text]

  - repo: local
    hooks:
      - id: trailing-whitespace
        name: fix-trailing-whitespace
        entry: poetry run trailing-whitespace-fixer
        language: system
        types: [text]

style: standardize auto-merge spelling
  .github/workflows/dependabot-auto-merge.yaml
Due: none

revert: undo auto-merge workflow changes
  .github/workflows/dependabot-auto-merge.yaml
Due: none

refactor: modernize readme and justfiles to use just and uv
  .env.template
  .just/flask.justfile
  .just/gunicorn.justfile
  .just/uvicorn.justfile
  docs/readme.md
  justfile
Due: none

build(deps): bump astral-sh/setup-uv from 7.6.0 to 8.0.0
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: none

fix comment: update version annotation to v6.0.0
  .github/workflows/testing.yaml
Due: none

feat(just): add gh label recipes (list, add, remove, rename)
  .just/gh.justfile
  justfile
Due: none

fix new ruff alerts
  etc/ipython/profile_default/startup/40-demo.py
  pyproject.toml
Due: black, flake8, mypy, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

fix ty check alerts
  src/libranet_flask/cfg.py
  src/libranet_flask/main.py
Due: black, flake8, mypy, debug-statements, end-of-file-fixer, fix-encoding-pragma

fix test_license and drop deprecated license classifier
  pyproject.toml
  tests/test_about.py
  tests/test_init.py
Due: black, flake8, mypy, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

chore: gitignore root .coverage data-file
  .gitignore
Due: none

fix new ruff alerts (#565)
  .gitignore
  etc/ipython/profile_default/startup/40-demo.py
  pyproject.toml
  src/libranet_flask/cfg.py
  src/libranet_flask/main.py
  tests/test_about.py
  tests/test_init.py
Due: black, flake8, mypy, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma
