Repository libranet/libranet-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

black:
  name: black
  entry: poetry run black
  args:
  - --config=pyproject.toml
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

debug-statements:
  name: check-debug-statements
  entry: poetry run debug-statement-hook
  language: system

check-toml:
  name: check-toml
  entry: poetry run check-toml
  language: system

end-of-file-fixer:
  name: fix-end-of-filer
  entry: poetry run end-of-file-fixer
  language: system

fix-encoding-pragma:
  name: fix-encoding-pragma
  entry: poetry run fix-encoding-pragma --remove
  language: system

update
  .make/10-pep8.mk
  .make/25-sphinx.mk
  .make/50-bandit.mk
  makefile
  poetry.lock
  pyproject.toml
  src/demo_flask/__init__.py
  src/demo_flask/endpoints.py
  src/demo_flask/main.py
  tests/conftest.py
  tests/test_endpoints.py
  tests/test_init.py
Due: black, flake8, mypy, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

update
  .make/16-ruff.mk
  .make/17-ipython.mk
  etc/ipython/profile_default/startup/04-entrypoints.py
  makefile
  pyproject.toml
Due: black, flake8, mypy, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

update
  poetry.lock
  pyproject.toml
Due: check-toml

add dependabot
  .github/dependabot.yml
Due: none

update vscode
  .vscode/extensions.json
  .vscode/python.code-snippets
Due: none

update
  .make/55-poetry.mk
  etc/supervisord.d/gunicorn.conf
  pyproject.toml
Due: check-toml

update
  etc/ipython/profile_default/startup/04-entrypoints.py
  etc/logging.yml
  makefile
Due: black, flake8, mypy, debug-statements, end-of-file-fixer, fix-encoding-pragma

spit off venv-ceation
  makefile
Due: none

adjust python-versions
  .github/workflows/testing.yaml
  pyproject.toml
Due: check-toml

update
  .make/01-path.mk
  .make/02-dir-structure.mk
  .make/03-dotenv.mk
  .make/04-pip.mk
  .make/55-poetry.mk
  etc/ipython/profile_default/startup/13-requests-httpformatting.py
  etc/ipython/profile_default/startup/_archive/04-entrypoints.py
  etc/ipython/profile_default/startup/_archive/11-urllib3.py
  etc/ipython/profile_default/startup/_archive/12-requests.py
  etc/ipython/profile_default/startup/_archive/20-flask.py
  etc/logging.yml
  makefile
  poetry.lock
  pyproject.toml
  src/demo_flask/formatter.py
Due: black, flake8, mypy, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

update deps
  poetry.lock
Due: none

update
  pyproject.toml
Due: check-toml

update
  .env.example
  etc/ipython/profile_default/startup/_archive/10-logging.py
  etc/ipython/profile_default/startup/_archive/13-requests-httpformatting.py
  etc/logging.yml
  poetry.lock
Due: black, flake8, mypy, debug-statements, end-of-file-fixer, fix-encoding-pragma

update
  src/demo_flask/formatter.py
Due: black, flake8, mypy, debug-statements, end-of-file-fixer, fix-encoding-pragma

update
  poetry.lock
Due: none

rename
  .env.example
  .make/45-flask.mk
  .vscode/launch.json
  docs/conf.py
  docs/dir-structure.rst
  docs/index.rst
  docs/readme.md
  etc/bandit-baseline.json
  etc/ipython/profile_default/startup/_archive/13-requests-httpformatting.py
  etc/ipython/profile_default/startup/_archive/20-flask.py
  etc/logging.yml
  etc/supervisord.d/gunicorn.conf
  makefile
  pyproject.toml
  src/demo_flask/__init__.py
  src/demo_flask/cli.py
  src/demo_flask/endpoints.py
  src/demo_flask/formatter.py
  src/demo_flask/main.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_endpoints.py
  tests/test_init.py
  tests/test_main.py
Due: black, flake8, mypy, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

rename
  src/libranet_flask/__init__.py
  src/libranet_flask/cli.py
  src/libranet_flask/endpoints.py
  src/libranet_flask/formatter.py
  src/libranet_flask/main.py
  src/libranet_flask/static/favicon.png
Due: black, flake8, mypy, debug-statements, end-of-file-fixer, fix-encoding-pragma

updte deps
  poetry.lock
Due: none

update
  .github/workflows/dependabot-auto-merge.yaml
  poetry.lock
Due: none

update
  makefile
Due: none

update
  .github/workflows/dependabot-auto-merge.yaml
  makefile
  poetry.lock
Due: none

update
  .github/workflows/dependabot-auto-merge.yaml
Due: none

update
  .github/workflows/dependabot-auto-merge.yaml
  .vscode/extensions.json
  .vscode/settings.json
  poetry.lock
  src/libranet_flask/__init__.py
Due: black, flake8, mypy, debug-statements, end-of-file-fixer, fix-encoding-pragma

rename to .env.template
  .env.template
  .gitignore
  .make/03-dotenv.mk
Due: none

Update pyproject.toml
  pyproject.toml
Due: check-toml

update
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  poetry.lock
  pyproject.toml
Due: check-toml

bump dependencies
  poetry.lock
Due: none

remove testing for older python versions
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: none

complete modernization
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .just/mdformat.justfile
  .pre-commit-config.yaml
  docs/changes.md
  docs/code-of-conduct.md
  docs/contributing.md
  docs/contributors.md
  docs/readme.md
  docs/security.md
  etc/ipython/profile_default/startup/10-logging.py
  etc/ipython/profile_default/startup/20-rich.py
  etc/ipython/profile_default/startup/30-settings.py
  etc/ipython/profile_default/startup/_archive/04-entrypoints.py
  etc/ipython/profile_default/startup/_archive/05-warnings.py
  etc/ipython/profile_default/startup/_archive/10-logging.py
  etc/ipython/profile_default/startup/_archive/11-urllib3.py
  etc/ipython/profile_default/startup/_archive/12-requests.py
  etc/ipython/profile_default/startup/_archive/13-requests-httpformatting.py
  etc/ipython/profile_default/startup/_archive/20-flask.py
  etc/pythonstartup.py
  justfile
  pyproject.toml
  src/libranet_flask/__init__.py
  src/libranet_flask/about.py
  src/libranet_flask/cli/__init__.py
  src/libranet_flask/cli/flask.py
  src/libranet_flask/cli/subcmd1.py
  src/libranet_flask/endpoints.py
  src/libranet_flask/formatter.py
  src/libranet_flask/main.py
  tests/conftest.py
  tests/test_cfg.py
  tests/test_cli_flask.py
  tests/test_endpoints.py
  tests/test_logging.py
  uv.lock
Due: black, flake8, mypy, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

update template
  .env.template
Due: none

fix missing loghandler
  etc/logging.yaml
Due: none

fix testing workflow
  .github/workflows/testing.yaml
Due: none

fix testing workflow : install just
  .github/workflows/testing.yaml
Due: none

fix: don't fail CI on Codecov upload errors
  .github/workflows/testing.yaml
Due: none

fix: auto-merge works when PR branch is manually updated
  .github/workflows/dependabot-auto-merge.yaml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  debug-statements: any of: \.py$
  check-toml: any of: \.toml$
  end-of-file-fixer: any of: \.py$
  fix-encoding-pragma: any of: \.py$
